@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
	background-color: white;
	font-family: 'PT Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	width: 90%;
	margin: auto;
	height: 10vh;
	align-items: center;
}
#logo,
nav ul,
#cart {
	display: flex;
}

#logo {
	display: flex;
	flex: 1;
}
#cart {
	flex: 1;
}
nav {
	flex: 2;
}
nav ul {
	justify-content: space-around;
	list-style: none;
}
a {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}
.presentation h1 {
	font-size: 3em;
}
.mainimg {
	width: 45%;
	animation: drop 1.5s ease;
}
.about {
	flex: 1;
}
.about h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.about h2 {
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
}
.about button {
	margin-top: 5px;
	font-size: 22px;
	padding: 7px 20px 7px 20px;
	background-color: bisque;
	border: 1px solid black;
}
.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@media screen and (max-width: 820px) {
	.presentation {
		flex-direction: column;
	}

	.about {
		margin-top: 5vh;
		text-align: center;
		margin-bottom: 0%;
	}
	.about button {
		margin-bottom: 0%;
	}
	.mainimg {
		padding-top: 0%;
		margin-top: 0%;
		width: 80%;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}

	.about h1 {
		font-size: 30px;
	}
	.about h2 {
		font-size: 18px;
	}
}
